<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.2.xsd
      http://www.springframework.org/schema/task 
      http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<!-- 项目用了数据库持久化，没用此配置文件的方式，供参考 -->
	<!-- 启动触发器的配置开始 -->
	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
	<bean id="scheduler" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- <ref bean="MarginInformJobTrigger" /> 
				<ref bean="smsRecordPollTrigger"/>-->
			</list>
		</property>
		<property name="configLocation" value="classpath:quartz.properties" />
	</bean>
	<!-- 启动触发器的配置结束 -->

	<!-- 调度的配置开始 -->
	<!--quartz-1.8以前的配置 
	<bean id="myJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean"></bean>
	-->
	<!-- quartz-2.x的配置
	<bean id="MarginInformJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="MarginInformJobDetail"/>
		<property name="cronExpression" value="0/5 * * * * ?"/>
	</bean> -->
	<!-- 调度的配置结束 -->

	<!-- job的配置开始 
	<bean id="MarginInformJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="MarginInformJob"/>
		<property name="targetMethod" value="work"/>
		<property name="concurrent" value="false"/>
	</bean>-->
	<!-- job的配置结束 -->

	<!-- 工作的bean 
	<bean id="MarginInformJob" class="com.cbmie.genMac.quartz.MarginInformJob" />-->
	<!-- 定时器配置   
    <bean id="smsRecordPollJob" class="com.cbmie.message.service.SmsRecordPollJob"/>  
    <bean id="smsRecordPollJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
        <property name="targetObject">  
            <ref bean="smsRecordPollJob" />  
        </property>  
        <property name="targetMethod">  
            <value>execute</value>  
        </property> 
        <property name="concurrent">
        	<value>false</value>
        </property> 
    </bean>
    <bean id="smsRecordPollTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
        <property name="jobDetail">  
            <ref bean="smsRecordPollJobDetail" />  
        </property>  
        <property name="cronExpression">  
            <value>0 0/2 * * * ?</value>  
        </property>  
    </bean>   --> 
</beans>